@import 'tailwindcss';
@import '@company-of-heroes/ui/theme.css';
@import '@fontsource/nunito-sans/400.css';
@import '@fontsource/nunito-sans/800.css';

@plugin '@tailwindcss/typography';

@source inline('w-{1..24}/24');
@source '../node_modules/layerchart/dist';
@source '../../ui/src';

html {
	font-size: 18px;
	scroll-behavior: smooth;
	color-scheme: dark;
}

html,
body {
	margin: 0;
	min-height: 100%;
	background-color: var(--color-gray-950);
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	font-weight: 700;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: var(--color-secondary-950);
}

::-webkit-scrollbar-thumb {
	background: var(--color-gray-900);
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
